.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-white {
  color: $white
}

.text-secondary{
  color: $dark-gray
}

.text-dark{
  color: $main-dark
}

.text-danger{
  color: $red
}

.text-primary{
  color: $primary
}

.text-success{
  color: $success
}

.text-nowrap{
  white-space: nowrap;
}

.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700 !important;
}

.h1 {
  font-size: 24px;
  line-height: 24px;
}

.h2 {
  font-size: 20px;
  line-height: 24px;
}

.h3 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
}

.text-16px{
  font-size: 16px;
}

.text-60px{
  font-size: 60px;
}

.loader-text {
  font-size: 40px
}

.body-1 {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
}

.caption {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

.pointer {
  cursor: pointer;
}
