$white: #fff;
$light-gray: #DCDCDC;
$red: #FF2F61;
$dark-gray: #8D8D8D;
$success: #57C554;
$blue: #0038FF;
$gray: #545454;
$main-dark: #222;


@import "custom/main";
@import "custom/btn-menu";
@import "custom/text";
@import "custom/sidebar-menu";
@import "custom/spacing";
@import "custom/grid";
@import "custom/size";
@import "custom/auth";
@import "custom/notification";
@import "custom/position";
@import "custom/new-user";
